
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

<div class="row">

    <br />
    <br />
    <form id="form">

        <div class="col-lg-6 col-lg-offset-2">
            <br />
            Usuario
            <br />
            <input type="text" name="user" />
            <br />
            <br />
            Password

            <br />
            <input type="password" name="password" />
            <br />
            <br />
            <input type="submit" class="btn btn-success" value="Entrar" />
        </div>

    </form>


</div>
@section scripts
    {

    <script>

    $(document).ready(function () {

        $("#form").submit(function (e) {

            e.preventDefault();

            url = "@Url.Content("~/Access/Enter")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {


                if (data == "1") {

                    document.location.href = "@Url.Content("~/")"

                } else {

                    alert(data)
                }



            })

        })

    })



    </script>
}